<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/swiper/css/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/jquery/jquery.serializejson.js"></script>
    <script src="/javascripts/ueditor/ueditor.config.js"></script>
    <script src="/javascripts/ueditor/ueditor.all.min.js"></script>
    <script src="/javascripts/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/javascripts/ueditor/ueditor.parse.js"></script>
    <script src="/javascripts/mvvm/vue.js"></script>
    <script src="/javascripts/semantic/semantic.min.js"></script>
    <script src="/javascripts/then/then.js"></script>
    <script src="/javascripts/sevue/sevue.js"></script>
    <script src="/javascripts/swiper/js/swiper.js"></script>
    <!--<script src="/javascripts/Proxy.js"></script>-->

    <title>哈哈</title>
</head>
<style>

</style>
<body>
<div class="ui fluid container" id="app">
    <div class="ui grid" style="margin-top: 3em ">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical  menu" style="margin: auto">
                    <a class="item" @click="articleManagement"><i class="file text icon"></i>文章管理</a>
                    <a class="item" @click="test"><i class="file text icon"></i>test</a>
                </div>
            </div>
            <div class="ten wide column">
                <component :is="current" >哈哈</component>
                <!--<background-table></background-table>-->
            </div>
        </div>
    </div>

</div>
</body>
<script>
    window.UEDITOR_HOME_URL = 'http://localhost:8011/images/'
    new Vue({
        el:"#app",
        data:{
            current:'background-table',
            images:[
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
            ]
        },
        mounted(){

        },
        methods:{
            articleManagement(){
                this.current = 'background-table';
            },
            test(){
                this.current = 'qq-news';
            }
        }
    })

</script>

</html>