<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/swiper/css/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/mvvm/vue.js"></script>
    <script src="/javascripts/semantic/semantic.min.js"></script>
    <script src="/javascripts/then/then.js"></script>
    <script src="/javascripts/sevue/sevue.js"></script>
    <script src="/javascripts/swiper/js/swiper.js"></script>
    <!--<script src="/javascripts/Proxy.js"></script>-->

    <title>哈哈</title>
</head>
<style>


</style>
<body>
<div class="ui fluid container" id="app">
    <div class="ui grid" style="margin-top: 3em ">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical  menu" style="margin: auto">
                    <div class="item"><i class="file text icon"></i>文章管理</div>
                </div>
            </div>
            <div class="ten wide column">
                <background-table></background-table>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            images:[
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
                '/images/item.jpg',
            ]
        },
        mounted(){

        },
        method:{}
    })

</script>

</html>