
<div class="ui container">
    <s-div :div="content" v-for="n in 3"></s-div>
    <s-div :div="{
    clazz:{
    ui:true,button:true,teal:true
    },
    text:'茶色',
    events:{
    click:function(){
    this.clazz.teal=false;
    this.clazz.green=true;
    this.div.text='绿色';
    }
    }
    }"></s-div>
</div>


<script>



    Vue.component("s-div",{
        name:'s-div',
        props:['div'],
        template: '<div v-if="div.text" @click="click" :style="style" :class="clazz">{{div.text}}</div>' ,
        data:function(){
            var vm = this;
          if(this.div.events){
              $.each(this.div.events,function(k,v){
                  vm[k] = v.bind(vm);
              })
          }
           return {
               clazz:this.div.clazz,
               style: $.extend(this.div.style,{}),
           }

        },
        methods:{
            click:function(){

            }
        },
        mounted:function(){
            if(this.div.mounted){
                this.$nextTick(function(){
                    var vm = this;
                    setTimeout(function(){
                        vm.div.mounted(vm);
                    },70)

                })
            }


        }
    });


    $.post('http:\\\\localhost:8000',{},function(data){
        console.log(data);
    });

    new Vue({
        el:'.ui.container',
        data:{
            content:{
                text:'哈哈',
                style:{
                    height:'50px',
                    width:'200px',
                    marginLeft:"200px",
                    background:'grey',
                    display:"none",
                    opacity:0
                },
                clazz:{
                    ui:false,
                    container:false
                },
                events:{
                    click:function(){

                        console.log(this);
                    }
                },
                mounted:function(vm){
                    vm.style.display="block"
                    $(vm.$el).velocity({
                        p:{
                            opacity:1,
                            marginLeft:0,
                            rotateX:1080,
                        },
                        o:{
                            duration:3000
                        }
                    })
                }
            }
        }
    });
</script>