<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/mvvm/vue.js"></script>
  <script src="/javascripts/semantic/semantic.min.js"></script>
  <script src="/javascripts/then/then.js"></script>
  <script src="/javascripts/sevue/sevue.js"></script>
  <title>哈哈</title>
</head>
<body>
<div id="app"></div>
</body >
<script>

  var vm=new Vue({
    el:'#app',
     template:'<se-container><se-buttons v-if="buttons">' +
     '<se-button v-for="button in buttons" :classes="button.classes" @click="click">' +
     '<template v-if="button.classes.animated">' +
     '<div class="visible content" ><se-icon :classes="button.content.visible.icon"></se-icon>{{button.content.visible.text}}</div><div class="hidden content"><se-icon :classes="button.content.hidden.icon"></se-icon>{{button.content.hidden.text}}</div>' +
     '</template>' +
     '<template v-else>{{button.content}}</template>' +
     '</se-button>' +
     '</se-buttons>' +
     '<se-divider class="horizontal"><i class="user icon"></i>test</se-divider>' +
     '<se-header>哈哈</se-header>' +
     '</se-container>',
    data:{
      clazz:{red:true},
      icon:'user',
      text:'哈哈',
      icons:["user","user","user","user","user","user","user",],
      buttons:[
          {
          classes:{
              fade:true,
              animated:true,
          },
          content:{
              visible:{icon:{user:true},text:'哈哈'},
              hidden:{icon:{mail:true},text:'嘿嘿'},
          }
          },
          {
              classes:{
                  teal:true
              },
              content:'啦啦'
          }
      ],
    },
    methods:{
        click:function(index,name){
        console.log(name)
        if(index>=0) this.icons.splice(index,1,"red user");
      },

    }
  });



</script>
</html>