<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/swiper/css/swiper.min.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/mvvm/vue.js"></script>
  <script src="/javascripts/semantic/semantic.min.js"></script>
  <script src="/javascripts/then/then.js"></script>
  <script src="/javascripts/sevue/sevue.js"></script>
    <script src="/javascripts/swiper/js/swiper.js"></script>
  <!--<script src="/javascripts/Proxy.js"></script>-->

  <title>哈哈</title>
</head>
<style>
    .following{
        position: fixed;
        top: 0px;
        z-index: 900;
        left: 0%;
        padding: 2em 0em;
        width: 100%;
        box-shadow: 0px 0px 0px 0px transparent;
        border-bottom: 1px solid transparent;
        transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    }
    .full{
        height: 100%;
    }
    .light{
        padding: 1em 0em;
        background-color: #FFFFFF;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
    }

    .animated.blue.button{
        width: 140px;
    }
    .secondary.network.menu .menu .item{
        margin-left: 20px;
    }

    .swiper-slide{
        height:100%;
    }

</style>
<body style="height: 100%">
<!--<div class="ui fluid container">
    <div class="following bar">
        <div class="ui container">
            <h1 class="ui header" style="position: relative;margin: auto"><img src="/images/item.jpg" class="ui image" style="border-radius: 3px"> 江苏信欧风险评估咨询有限公司 </h1>
        </div>
        <div class="ui container">
            <div class="ui large secondary network menu inverted">
                <div class="menu inverted" style="margin: auto">
                    <div class="item">
                        <div class="ui inverted animated blue button">
                            <div class="visible content"><i class="home icon"></i></div>
                            <div class="hidden content">首页</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="ui inverted animated blue button">
                                <div class="visible content"><i class="power icon"></i></div>
                                <div class="hidden content">关于信欧</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui inverted animated blue button">
                            <div class="visible content"><i class="user icon"></i></div>
                            <div class="hidden content">新闻动态</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="ui inverted animated blue button">
                                <div class="visible content"><i class="power icon"></i></div>
                                <div class="hidden content">政策法规</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui inverted animated blue button">
                            <div class="visible content"><i class="user icon"></i></div>
                            <div class="hidden content">成功案例</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="ui inverted animated blue button">
                                <div class="visible content"><i class="power icon"></i></div>
                                <div class="hidden content">联系我们</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui full segments" style="background: #f5f5f5;margin: 0">
        <div class="ui swiper-container container" style="height: 400px;margin-top: 215px;height: 377px;">

            <div  class="swiper-wrapper" style="height: 100%">
                <div class="swiper-slide" style="background-size: cover;background-image:url('/images/item.jpg')"></div>
                <div class="swiper-slide" style="background-size: cover;background-image:url('/images/item.jpg')"></div>
                <div class="swiper-slide" style="background-size: cover;background-image:url('/images/item.jpg')"></div>
                <div class="swiper-slide" style="background-size: cover;background-image:url('/images/item.jpg')"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        &lt;!&ndash;TODO 轮播?background&ndash;&gt;
        <div class="ui full container" style="height: 700px">
            <div class="ui full grid" style="margin-top: 50px">
                <div class="full row">
                    <div class="six wide column">
                        <div class="ui horizontal divider">业务范围</div>
                        <div class="ui segment">
                            <p> 关于我们关于我们关于我们关于我们关于我们关于
                                我们关于我们关于我们关于我们关于我们关于我们
                                关于我们关于我们关于我们关于我们关于我们关于
                                我们关于我们关于我们关于我们关于我们关于我们
                                关于我们关于我们关于我们关于我们关于我们关于
                                我们关于我们关于我们关于我们关于我们关于我们
                                关于我们关于我们关于我们关于我们关于我们关于
                                我们关于我们关于我们关于我们关于我们关于我们
                                关于我们关于我们关于我们关于我们关于我们关于
                                我们关于我们关于我们关于我们关于我们关于我们</p>

                        </div>

                    </div>
                    <div class="ten wide column">
                        <div class="ui pointing secondary menu">
                            <a class="item" data-tab="news">新闻动态</a>
                            <a class="item active" data-tab="ping">评估动态</a>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="news">
                            <div class="ui divided selection items">
                                <div class="item">
                                    <div class="content">
                                        <a class="header">新闻动态</a>
                                        <div class="meta">
                                            <span>新闻动态</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">新闻动态 </div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="content">
                                        <a class="header">新闻动态</a>
                                        <div class="meta">
                                            <span>新闻动态</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">新闻动态 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="ping">
                            <div class="ui divided selection items">
                                <div class="item">

                                    <div class="content">
                                        <a class="header">评估动态</a>
                                        <div class="meta">
                                            <span>评估动态</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">评估动态</div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="content">
                                        <a class="header">评估动态</a>
                                        <div class="meta">
                                            <span>评估动态</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">评估动态 </div>
                                    </div>
                                </div>
                        </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">关于信欧</h4>
                        <div class="ui inverted link list">
                            <a href="/ecommerce/control/companyIntroduction" class="item">公司介绍</a>
                            <a href="/ecommerce/control/companyAddress" class="item">公司地址</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">服务</h4>
                        <div class="ui inverted link list">
                            <a href="/ecommerce/control/contactUs" class="item">联系我们</a>
                            <a href="/ecommerce/control/feedback" class="item">意见反馈</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">信欧风险评估</h4>
                        <p>信欧风险评估咨询有限公司</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>-->
<div id="app"></div>

</body>
<script>
    "use strict"

//    $(".pointing.secondary.menu .item").tab();
//    $(function(){
//
//        new Swiper('.swiper-container', {
//            loop: true,
//
//            // 如果需要分页器
//            pagination: '.swiper-pagination',
//
//            // 如果需要前进后退按钮
//
//            // 如果需要滚动条
//            slidesPerView: 'auto',
//            autoplay: 5000,
//            speed: 2000,
//            touchRatio: 0.2,
//            mousewheelControl: true,
//        });
//        $(window).scroll(function(event){
//            if($(window).scrollTop()>10){
//                $(".following.bar").addClass("light").find(".menu").removeClass("inverted").find(".animated.button").removeClass("inverted");
//            }else{
//                $(".following.bar").removeClass("light").find(".menu").addClass("inverted").find(".animated.button").addClass("inverted");
//            }
//
//        })
//    })

//
//    $('body')
//        .visibility({
//            offset         : -10,
//            observeChanges : false,
//            once           : false,
//            continuous     : false,
//            onTopPassed: function() {
//                requestAnimationFrame(function() {
//                    $('.following.bar')
//                        .addClass('light fixed')
//                        .find('.menu')
//                        .removeClass('inverted')
//                    ;
//                });
//            },
//            onTopPassedReverse: function() {
//                requestAnimationFrame(function() {
//                    $('.following.bar')
//                        .removeClass('light fixed')
//                        .find('.menu')
//                        .addClass('inverted')
//                    ;
//                });
//            }
//        })
  var vm=new Vue({
    el:'#app',
     template:'<se-container><se-buttons v-if="buttons">' +
     '<se-button v-for="button in buttons" :classes="button.classes" @click="click">' +
     '<template v-if="button.classes.animated">' +
     '<div class="visible content" ><se-icon :classes="button.content.visible.icon"></se-icon>{{button.content.visible.text}}</div><div class="hidden content"><se-icon :classes="button.content.hidden.icon"></se-icon>{{button.content.hidden.text}}</div>' +
     '</template>' +
     '<template v-else>{{button.content}}</template>' +
     '</se-button>' +
     '</se-buttons>' +
     '<se-divider class="horizontal"><i class="user icon"></i>test</se-divider>' +
     '<se-header>哈哈</se-header>' +
     '<se-reveal :classes="{move:true}">' +
     '<se-button :classes="{red:true}" slot="visible">visible</se-button>' +
     '<se-button :classes="{teal:true}" slot="hidden">visible</se-button>' +
     '</se-reveal>' +
     '<se-steps><se-step>1</se-step></se-steps>' +
     '<se-loader :classes="{text:true,active:true}" :text="\'哈哈\'"></se-loader>' +
     '<se-list :list="list" :classes="list.classes"></se-list>' +
     '<s-el :tag="tag"></s-el>' +
     '<spring-boot-test/>' +
     '</se-container>',
    data:{
      clazz:{red:true},
      tag:'a',
      icon:'user',
      text:'哈哈',
      icons:["user","user","user","user","user","user","user",],
      buttons:[
          {
          classes:{
              fade:true,
              animated:true,
          },
          content:{
              visible:{icon:{user:true},text:'哈哈'},
              hidden:{icon:{mail:true},text:'嘿嘿'},
          }
          },
          {
              classes:{
                  teal:true
              },
              content:'啦啦'
          }
      ],

        list:{
          items:[
            {icon:{folder:true},content:{description:'root1'},
                list:{
                items:[
                {icon:{mail:true},content:{description:'root1-1'},
                    list:{
                        items:[
                            {icon:{file :true},content:{description:'root1-1-1'},
                                list:{
                                    classes:{horizontal :true},
                                    items:[
                                        {icon:{idea:true},content:'root1-1-1-1'},

                                        {icon:{idea:true},content:'root1-1-2'}
                                    ]
                                }
                            },
                            {icon:{file :true},content:'哈哈'}
                        ]
                    }
                },
                {icon:{mail:true},content:'root1-2'}
                    ]
                    }},
            {icon:{folder :true},content:{description:'root2'}},
            {icon:{folder :true},content:'root3'}
        ]
      }
    },
    methods:{
        click(index,name){
        console.log(name)
        if(index>=0) this.icons.splice(index,1,"red user");
      },


    }
  });
//
//  var testObj={
//      test1:{t:1},
//      test2:2,
//      test3:3
//  }
//
//
//class Observer{
//      constructor(value){
//          this.value = value;
//          this.walk();
//      }
//
//      walk(){
//         Object.keys(this.value).forEach((k)=>this.observerValue(k,this.value[k]))
//      }
//
//      observerValue(key,value){
//          let dep = new Dep();
//          let val = $.isPlainObject(value)?new Observer(value):value;
//          Object.defineProperty(this.value,key,{
//              enumerable:true,
//              configurable:true,
//              get:()=>{
//                  if(Dep.target){
//                      dep.addWatcher(Dep.target);
//                  }
//                 return val.value?val.value:val
//              },
//              set:newVal=>{
//                  val= $.isPlainObject(newVal)?new Observer(newVal):newVal
//                  dep.notify();
//              }
//          })
//      }
//}
//
// class Dep{
//      constructor(){
//          this.watchers = [];
//      }
//
//      addWatcher(watcher){
//          this.watchers.push(watcher);
//      }
//
//     notify(){
//          this.watchers.forEach(watcher=>watcher.update())
//      }
// }
//
// class Watcher{
//      constructor(obj,express,cb){
//          this.data = obj;
//          this.expression = express;
//          this.cb = cb;
//          this.value = this.get();
//      }
//
//      update(){
//          const value = this.get();
//          if(value!=this.value){
//              this.value = value;
//              this.cb();
//          }
//      }
//
//     get(){
//          return  this.getValue(this.data,this.expression);
//     }
//
//     getValue(obj,express){
//         let point = express.indexOf(".",0);
//         if(point!=-1){
//             let key =  express.substring(0,point);
//             let value = obj[key];
//            return this.getValue(value,express.substring(point+1,express.length))
//         }else{
//             Dep.target = this;
//             let val = obj[express]
//             Dep.target = null;
//             return val;
//         }
//
//     }
//
// }
//  new Observer(testObj);
//  new Watcher(testObj,"test1.t",function(){
//      console.log("test1");
//  })
//  testObj.test1.t=3;
//    testObj.test2=5;
//  console.log(testObj.test1.t);
//    console.log(testObj.test2);


</script>

</html>