<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/mvvm/vue.js"></script>
  <script src="/javascripts/semantic/semantic.min.js"></script>
  <script src="/javascripts/then/then.js"></script>
  <script src="/javascripts/sevue/sevue.js"></script>
  <title>哈哈</title>
</head>
<body>
<div id="app"></div>
</body >
<script>

  var vm=new Vue({
    el:'#app',
     template:'<SeButton :classes="clazz" @click="click">哈哈</SeButton>',
    data:{
      clazz:{red:true},
      icon:'user',
      text:'哈哈',
      icons:["user","user","user","user","user","user","user",],
      button:{
          clazz:'fade animated',
          content:{
             visible:'<i class="user icon"></i>哈哈',
             hidden:'<i class="mail icon"></i>嘿嘿',
         }
      }
    },
    methods:{
        click:function(index,name){
        console.log(name)
        if(index>=0) this.icons.splice(index,1,"red user");
      },

    }
  });



</script>
</html>