<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/javascripts/semantic/semantic.min.css">
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/mvvm/vue.js"></script>
  <script src="/javascripts/semantic/semantic.min.js"></script>
  <script src="/javascripts/then/then.js"></script>
  <title>哈哈</title>
</head>
<body>
  <% include index.ejs%>
</body>
</html>